.food-slider-container {
  width: 100%;
  max-width: 1200px;
  margin: 60px auto;
}

.h1 {
  margin-bottom: 3%;
}

.food-card {
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.food-card:hover {
  transform: translateY(-5px);
}

.food-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.food-info {
  padding: 12px;
  background: #f9f9f9;
}

.food-info h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #1a1a1a;
}

.food-info p {
  font-size: 14px;
  margin: 5px 0 0;
  color: #f97316; /* Orange */
}

@media (min-width: 768px) and (max-width: 1024px) {
  .food-slider-container {
    margin: 40px 40px;
    width: 700px;
  }
  
}

@media (max-width: 768px) and (min-width: 300px) {
  .food-slider-container {
    margin: 40px 40px;
    width: auto;
  }
  
}

@media (min-width: 900px) and (max-width: 1024px) {
  .food-slider-container {
    margin: 40px 40px;
    width: auto;  
  }
  
}