.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: larger;
    background-color: #e7e6e6;
    margin-top: 5%;
    margin:  50px 20px;
    height: 450px;
    width: 90%;
    border-radius: 15px;
    justify-content: space-between;
    justify-self: center;
    padding: 20px ;
}

.hero-1 {
    /* justify-content: space-around; */
    padding-left: 30px;
}

.hero-1 > h1 {
    padding-top: 10px;
    padding-bottom: 20px;
}

span {
    color: #FC8A06;
}

.sec_2 {
    justify-content: space-around;
}

.subscribe-box h3 {
    margin-bottom: 15px;
    color: #333;
}

.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 25px;
    overflow: hidden;
}

.input-group input {
    flex: 1;
    padding: 12px;
    border: none;
    outline: none;
    font-size: 14px;
}

.input-group button {
    background: #f7931e;
    border: none;
    padding: 12px 20px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.input-group button:hover {
    background: #e67e22;
}

.hero-2 {
    position: relative;
}

.img-1 {
    height: 320px;
    position: absolute;
    /* padding-left: 5%; */
    /* noddle */
    right: 330px;
    z-index: 2;
    top: 90px;
    border-radius: 15px;
}

.img-2 {
    z-index: 2;
    height: 380px;
    right: 400px;
    top: 58px;
    /* bottom: 20px; */
    /* //pizza */
    position: relative;
}

.hero-3 {
    position: absolute;
    width: 339px;
    /* width: 31%; */
    height: 396px;
    left: 862px; 
    top: 195px; 
    background: #FC8A06;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 15px;
}

.hero-3 > li {
    background-color: #fff;
    width: 220px;
    margin-top: 15px;
    margin-left: 105px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}

.hero-3  img {
    height: 25px;
}

.hero-3 h6 {
    font-size: 0.8rem;    
} 

.hero-3 p {
    font-size: 12px;
    font-weight: 200;
} 

.hero-3 h1 {
    margin-top: 15%;
}

.hero-3 .sub-1 {
    margin-left: 15%;
}

.hero-3 .sub-2 {
    margin-left: 35%;
}

.hero-3 .sub-3 {
    margin-left: 25%;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .hero {
        min-width: 730px;
        width: auto;
        justify-self: center;
    }
    .hero-3 {
        display: none;
    }
    /* .img-1 {
        margin-right: 5000px;
    } */
}

@media (max-width: 768px) and (min-width: 300px) {
    .hero {
        max-width: 700px ;
        width: auto;
        margin-right: 20px;
    }
    .hero-1 {
        justify-content: center;
        text-align: center;
    }
    .hero-3 {
        display: none;
    }
    .hero-2 {
        display: none;
    }
}