.tabs-container {
    display: flex;
    gap: 10px;
    max-width: 1350px;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.tab {
    flex: 1;
    padding: 60px 20px;
    border-radius: 8px;
    /* background: #f9f9f9; default */
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: x-large;
}

/* Active tab looks like last card */
.tab.active {
    background: #0a0a2a; /* dark navy (like your last box) */
    color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.tab p {
    font-size: 17px;
    font-weight: 540;
    padding: 5px 0;
}