.faq-container {
  padding: 90px 100px;
  border-radius: 12px;
  font-family: Arial, sans-serif;
  max-width: 1150px;
  justify-content: center;
  margin-left: 3%;
  margin-bottom: 5%;
  background-color: #c2c0c0;
}

.faq-container h2 {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}

.tabs {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.tabs button {
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 6px 10px;
  font-weight: 500;
  color: #444;
}

.tabs button.active {
  border: 3px solid orange;
  border-radius: 25px;
  color: #000;
  font-weight: bold;
}

.faq-content {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

/* Left FAQ questions */
.faq-questions {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.faq-questions button.highlight {
  background: orange;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 25px;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
}

.faq-questions p {
  margin: 0;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

/* Right steps */
.faq-steps {
  flex: 2;
  display: flex;
  gap: 15px;
}

.step-card {
  background: #e7e6e6;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  flex: 1;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.step-card img {
  width: 60px;
  margin-bottom: 10px;
}

.step-card h4 {
  font-size: 16px;
  margin: 8px 0;
}

.step-card p {
  font-size: 13px;
  color: #555;
}

.bottom-text {
  text-align: center;
  font-size: 14px;
  color: #555;
  margin-top: 10px;
}

@media (max-width: 768px) and (min-width: 300px) {
    .faq-container {
      display: none;
    }
}