.fig ul {
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: space-around;
    background-color: #FC8A06;
    max-width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    color: #fff;
    padding: 30px 0;
    cursor: pointer;
}

@media (max-width: 768px) and (min-width: 300px) {
    .fig ul {
        display: block;
    }
    .fig p {
        display: block;
        font-size: large;
    }
    .fig li {
        padding: 20px 0;
        font-size: large;
    }
}